<div class="header">
  <div class="item">
    <a routerLink="/">
      <img src="assets/img/logo.png"> 乐吾乐store</a>
  </div>
  <div class="item">
    <a routerLink="/">首页</a>
  </div>
  <div class="item">
    <a routerLink="/start">使用</a>
  </div>
  <div class="item">
    <a routerLink="/us">我们</a>
  </div>
  <div class="item full ph10">
    <div class="input container" style="max-width: 3rem">
      <input placeholder="仅提供样式，暂不支持搜索">
      <i class="iconfont icon-search right"></i>
    </div>
  </div>
  <div class="item sign">
    <div class="user">
      <span style="padding: 0 .08rem">
        <img src="assets/img/user.jpg">
        <label>小乐</label>
        <i class="fa fa-caret-down"></i>
      </span>
      <div class="dropdown">
        <div class="item">
          <a>我的主页</a>
        </div>
        <div class="item">
          <a>退出</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt50">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="copyright mt5">
    Copyright© le5le。
    <br> Email: alsmile123@qq.com
  </div>
</footer>
