<div class="panel p20" style="min-height: 5rem">
  <h2>安装</h2>
  <div>
    npm install --save le5le-store
    <br>
    <br> github：
    <a href="https://github.com/le5le-com/le5le-store" target="_blank">le5le-store</a>
  </div>
  <h2>使用方式</h2>
  <div>
    import ｛ StoreService, CookieService ｝ from 'le5le-store';
    <br> 【注意】 上面的大括号为中文全角
    <br>
  </div>
  <h2>demo</h2>
  <div class="border p10 mb10">
    store：
    <br>
    <pre>{{memStore | json}}</pre>
  </div>
  <div class="border p10 mb10">
    <div class="">
      <label style="display: inline-block;width: .42rem">key:</label>
      <input class="input" [(ngModel)]="key">
      <button class="button primary" (click)="key='a.b.c'">设置key='a.b.c'</button>
      <button class="button primary" (click)="key='test'">设置key='test'</button>
    </div>
    <div class="mt10">
      <label style="display: inline-block;width: .42rem">where:</label>
      <input class="input" [(ngModel)]="where">
      <button class="button primary" (click)="onSetWhere({'a.b.c':1})">where=｛“a.b.c”:1｝</button>
    </div>
    <div class="mt10">
      <label style="display: inline-block;width: .42rem">value:</label>
      <input class="input" [(ngModel)]="val">
      <button class="button primary" (click)="val='1'">value=1</button>
    </div>
    <div class="mt10">
      <button class="button primary" (click)="onReadStore()">读取</button>
      <button class="button success" (click)="onWriteStore()">设置</button>
      <button class="button warning" (click)="onDeleteStore()">删除</button>

      <button class="button success ml20" (click)="onWriteStoreByObservable()">Observable设置</button>
    </div>
  </div>
  <div class="border p10 mb10">
    操作结果：
    <label class="primary">{{result | json}}</label>
  </div>
  <div class="border p10 mb10">
    订阅test结果：
    <label class="success">{{resultByStorm | json}}</label>
  </div>
  <div class="border p10 mb10">
    <button class="button success mr10" (click)="onSetCookie()">设置一个随机cookie：rand</button>
    <button class="button primary mr10" (click)="onGetCookie()">读取cookie：rand={{rand}}</button>
  </div>
  <h2>教程</h2>
  <h3>1、 StoreService</h3>
  <div>
    <b>get(key:string, where?:any)：any </b>
    <br> 获取名为key的数据。支持条件查询
    <br> key - 如果含.表示解析成对象进行条件搜索。注意：但第一个属性存在时，但是where的条件（非type）不匹配时，返回失败。
    <br> where - 查询条件。如果含.表示解析成对象进行条件搜索
    <br> ｛
    <br> 'user.name': 'Alsmile', // 如果含.表示解析成对象进行条件搜索
    <br> ｝
    <br>
    <br>
    <br>

    <b>get$(key:string)：Subject </b>
    <br> 获取名为key的可订阅数据。
    <br> key - 订阅数据名称。
    <br>
    <br>
    <br>

    <b>set(key:string, value:any, where?: any): boolean </b>
    <br> 设置名为key的数据。
    <br> key - 如果含.表示解析成对象进行条件搜索。注意：但第一个属性存在时，但是where的条件（非type）不匹配时，返回失败。
    <br> value - 设置key=value; 如果 value为空，表示删除。
    <br> where - 查询条件。如果含.表示解析成对象进行条件搜索
    <br> ｛
    <br> 'user.name': 'Alsmile', // 如果含.表示解析成对象进行条件搜索
    <br> ｝
    <br>
    <br>
    <br>

    <b>setByObservable(key:string, observable: Observable) </b>
    <br> 通过可订阅数据设置名为key的数据。
    <br> key - 数据名称。
    <br>
    <br>
    <br>

  </div>

  <h3>2、 CookieService</h3>
  <div>
    <b>get(name:string)：</b>
    <br> [静态方法]读取名为name的cookie。
    <br>
    <br>
    <br>

    <b>set(name:string, value:string, expires?:number, path?:string, domain?:string)：</b>
    <br> [静态方法]设置名为name的cookie。
    <br> value - cookie值
    <br> expires - cookie有效期的毫秒数
    <br> path - cookie所在的目录
    <br> domain - cookie域名
    <br>
    <br>
    <br>

    <b>delete(name:string, value:string, expires?:number, path?:string, domain?:string)：</b>
    <br> [静态方法]删除名为name的cookie。
    <br> expires - cookie有效期的毫秒数
    <br> path - cookie所在的目录
    <br> domain - cookie域名
    <br>
    <br>
    <br> 使用步骤和代码依次如下：
  </div>
  <textarea class="input mt20 full" rows="100" style="resize: none;" readonly="readonly">
    1.
    import {StoreService, CookieService} from "le5le-store";
    2.
    在appMoudle导入 Le5leStoreModuleModule.forRoot(),

    3.
    import {Component, OnInit} from '@angular/core';
    import { Subject } from 'rxjs/Subject';
    import {StoreService, CookieService} from "le5le-store";

    import {StartService} from "./start.service";

    @Component({
      selector: 'start',
      templateUrl: 'start.component.html',
      providers: [StartService]
    })
    export class StartComponent implements OnInit{
      memStore: any;
      key: string = 'test';
      val: string = 'This is a test text.';
      where: string = '';
      result: string = '';
      resultByStorm: string = '';
      private writeStore$ = new Subject《string》();
      private readStore$: Subject《any》;
      rand: string = '';
      constructor(private _StartService: StartService, private _storeService: StoreService) {
        this.memStore = this._storeService.get('.');
      }

      ngOnInit() {
        this._storeService.setByObservable('test', this.writeStore$);

        this.readStore$ = <Subject<any>>this._storeService.get$('test');
        this.readStore$.subscribe(
          ret => {
            console.info('Get a test from subject:',ret);
            this.resultByStorm = ret;
          }
        );
      }

      onReadStore () {
        let where: any = {};
        if (this.where) {
          try {
            where = JSON.parse(this.where);
          } catch (e) {}
        }
        this.result = this._storeService.get(this.key, where);
      }

      onWriteStore () {
        let where: any = {};
        if (this.where) {
          try {
            where = JSON.parse(this.where);
          } catch (e) {}
        }
        this.result = this._storeService.set(this.key, this.val, where)?'true': 'false';
      }

      onDeleteStore () {
        let where: any = {};
        if (this.where) {
          try {
            where = JSON.parse(this.where);
          } catch (e) {}
        }
        this.result = this._storeService.set(this.key, '', where)?'true': 'false';
      }

      onSetWhere (where) {
        this.where = JSON.stringify(where);
      }

      onWriteStoreByObservable () {
        this.writeStore$.next(this.val);
      }

      onSetCookie () {
        CookieService.set('rand', new Date().getTime()+'');
      }

      onGetCookie () {
        this.rand = CookieService.get('rand');
      }
    }
  </textarea>
</div>
